<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理员管理-有点-修改</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/css.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/js/page.js" ></script>
</head>

<body>
<div id="pageAll">
    <div class="pageTop">
        <div class="page">
            <img src="__PUBLIC__/Admin/img/coin02.png" /><span><a href="{:U('Index/index')}" target="_parent">首页</a>&nbsp;-&nbsp;-</span>&nbsp;管理员管理
        </div>
    </div>

    <div class="page">
        <!-- user页面样式 -->
        <div class="connoisseur">
            <div class="conform">
                <form action="{:U('User/update_do')}?page={$page}" method="post">
                    <input type="hidden" value="{$data.id}" name="id" id="id">
                    <input type="hidden" value="{$data.username}" name="old_name" id="old_name">
                    <div class="cfD">
                        <input class="userinput" type="text" name="username" value="{$data.username}" id="new_name" onblur="check_name()"/><span id="sp_id"><font color='gray'>*</font></span>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;
                        <input class="userinput vpr" type="password" name="pwd" value="{$data.pwd}" onblur="check_pwd()"/><span id="sp_pwd"><font color='gray'>*</font></span>
                        <input type="submit" value="修改" class="userbtn">
                    </div>
                </form>
            </div>
</div>
</body>
</html>
<script>
    function check_name(){
        var old_name=document.getElementById('old_name').value
        var new_name=document.getElementById('new_name').value
        var ajax=new XMLHttpRequest();
        ajax.open("get","{:U('User/check_name')}?old_name="+old_name+"&new_name="+new_name);
        ajax.send(null);
        ajax.onreadystatechange=function(){
            if(ajax.readyState==4 && ajax.status==200){
                if(ajax.responseText=="ok"){
                    document.getElementById('sp_id').innerHTML="<font color='green'>√</font>";
                }else{
                    document.getElementById('sp_id').innerHTML="<font color='red'>此管理员已存在</font>";
                }
            }
        }
    }
    function check_pwd(){
        document.getElementById('sp_pwd').innerHTML="<font color='green'>√</font>";
    }
</script>